html, body {
    height: 100%;
}

.side-bar {
    width: 150px;
    background-color: #051E34;
    
}

.side-bar .nav {
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: black;
}

.side-bar .nav-hover .nav-link:hover {
    background-color: white;
}

.side-bar .nav-link i {
    margin-right: .5rem;
}

.bg-badge {
    background-color: #155aba;
}

.nav-icons-color {
    color: #555153;
}

img {
    width: 50px;
}

.logo-size {
    width: 150px;
}

.bg-icon-table {
    background-color: #d26a59;
    padding: 5px 7px;
}

.btn-action {
    background: #FFFFFF;
    color: #6f747b;
    border-color: #6f747b;
    border-style: solid;
    border-width: 2px;
}
